node_modules
.env
.env.*
!.env.example

data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
data/ngaji.backup-*.db
data/ngaji.cadangan-*.db
data/photos/

mobile-android/
desktop-app/

.git
.gitignore
README.md
docs/
CLAUDE.md
